.section-container {
    height: 850px;
    width: 825px;
    margin: 20px;
    padding: 20px;
    background-color: #323232;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem; /* Utiliza unidades relativas para el tamaño de fuente */
  color: #fff; /* Cambia el color del título para que sea más visible en el fondo oscuro */
  margin-bottom: 20px; /* Aumenta el espacio inferior para separar el título del contenido */
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0; /* Margen opcional para separar el video del resto del contenido */
  }
  
  .video {
    height: 380px;
    width: 780px;
  }
.container-phrase {
    height: 200px;
  }

